/*** admin css */
.toplevel_page_calendar_course #wrap {
	width: 98%;
}

.toplevel_page_calendar_course #external-events {
	float: left;
	width: 40%;
	padding: 0 10px;
	/* border: 1px solid #ccc; */
	border-radius: 5px;
	text-align: left;
	background: #deedf7 url("images/ui-bg_highlight-soft_100_deedf7_1x100.png") 50% 50% repeat-x;
}

.toplevel_page_calendar_course #calendar {
	float: left;
	width: 50%;
	margin-left: 70px;
}